/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/***CSS PAGE LOGIN***/

#login {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  #login h2 {
	margin-bottom: 37px;
	margin-top: 150px;
	text-align: center;
  }
  
  #login label {
	padding-bottom: 7px;
  }
  .form-input {
	margin-bottom: 37px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 379px;
	height: 51px;
	border-color: transparent;
  }
  
  .Form-mail,
  .Form-password,
  .Form-btn {
	display: flex;
	flex-direction: column;
  }
  
  input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	border-radius: 60px;
	padding: 10px 38px 9px 39px;
	border-color: transparent;
	cursor: pointer;
  }
  .MDP-oubli {
	color: black;
	text-align: center;
  }
  .footer-login {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
  }
  
  .footer-login li {
	padding-right: 107px;
  }
  .login-link, .nav-projets {
	text-decoration: none;
	color: black;
  }
  /***CSS POUR LA CATEGORIE FILTRE***/
  .filter {
	display: flex;
	justify-content: center;
	gap: 10px;
	cursor: pointer;
  }
  
  .filter p {
	border: 1px solid #1d6154;
	padding: 9px 22px 9px 20px;
	margin-bottom: 51px;
	margin-top: 21px;
	border-radius: 60px;
	font-family: "Syne";
	color: #1d6154;
	font-weight: 700;
	font-size: 16px;
  }
  
  /***BARRE D'EDITION***/
  
  .barreEdition {
	display: none;
	background-color: black;
	justify-content: center;
  }
  
  .barreEdition i {
	color: white;
	margin-right: 13px;
	font-size: 16px;
  }
  
  .editionP {
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
  }
  
  /***Bouton modifier pour ouvrir la modale***/
  .modal-btn {
	border: none;
	background: transparent;
	cursor: pointer;
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	display: none;
	margin-bottom: 100px;
	margin-top: 8px;
  }
  
  .modal-btn i {
	margin-right: 13px;
	font-size: 16px;
  }
  
  /***SECTION MODALE (1) ****/
  
  /*** bouton "modifier" lié à la modale***/
  
  .container-titre {
	display: flex;
	justify-content: center;
	gap: 31px;
	margin-bottom: 1em;
	margin-top: 140px;
  }
  
  .modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	overflow: auto;
	display: none;
  }
  
  .iconeDelet {
	position: relative;
  }
  
  .iconeDelet i {
	position: absolute;
	bottom: 93px;
	left: 54px;
	color: white;
	background: black;
	padding: 4px;
	border-radius: 2px;
	cursor: pointer;
  }
  
  .iconePosition {
	position: relative;
  }
  .iconePosition i {
	position: absolute;
	color: white;
	background: black;
	padding: 4px;
	bottom: 93px;
	border-radius: 2px;
	left: 30px;
	cursor: pointer;
  }
  
  hr {
	margin: 65px 105px 48px 105px;
  }
  .modal-body {
	width: 630px;
	height: 731px;
	margin: 10% auto 10% auto;
	padding: 30px;
	background: white;
	border-radius: 5px;
	position: relative;
  }
  
  .modal-close {
	border: none;
	font-size: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
  }
  
  .modal-title {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	color: black;
  }
  
  .modal-ajout {
	display: flex;
	font-size: 14px;
	line-height: 17px;
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	border-radius: 60px;
	padding: 10px 38px 9px 39px;
	border-color: transparent;
	cursor: pointer;
  }
  
  .modal-supp {
	display: flex;
	justify-content: center;
	color: #d65353;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	font-family: "Syne";
	cursor: pointer;
  }
  
  /***Images dans la modale****/
  
  .gallery2 {
	display: flex;
	gap: 6px;
	flex-wrap: wrap;
	margin: 45px 105px;
  }
  
  .gallery2 img {
	width: 78px;
	height: 104px;
  }
  
  /****MODALE 2****/
  
  .modal2-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	overflow: auto;
	display: none;
  }
  
  hr {
	margin: 65px 105px 48px 105px;
  }
  .modal2-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 630px;
	height: 670px;
	margin: 10% auto 10% auto;
	padding: 30px;
	background: white;
	border-radius: 5px;
	position: relative;
  }
  .fa-arrow-left {
	position: absolute;
	left: 30px;
	top: 20px;
	font-size: 20px;
	cursor: pointer;
  }
  
  .modal2-close {
	border: none;
	font-size: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
  }
  
  .modal2-title {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	color: black;
	margin-bottom: 36px;
  }
  
  .modal2-ajout-photo {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: #e8f1f7;
	border-radius: 3px;
	width: 420px;
	height: 169px;
	margin-bottom: 30px;
  }
  
  .modal2-ajout-photo p {
	font-size: 10px;
	margin-bottom: 19px;
  }
  
  .modal2-ajout-photo i {
	color: #b9c5cc;
	font-size: 60px;
	margin-top: 28px;
	margin-bottom: 21px;
  }
  
  .modal2NewImg {
	width: 129px;
    height: 193px;
    /* Ajout de margin-left pour centrer l'image */
    margin-left: 140px;
  }
  
  .btn-ajout-photo {
	background: #cbd6dc;
	border-radius: 50px;
	font-family: "Work Sans";
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	padding: 10px 33px;
	color: #306685;
	border: transparent;
	margin-left: 105px;
	margin-right: 105px;
	margin-bottom: 4px;
	cursor: pointer;
  }
  
  .modal2-valider {
	display: flex;
	font-size: 14px;
	line-height: 17px;
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #a7a7a7;
	margin: 2em auto;
	border-radius: 60px;
	padding: 10px 49px 9px 49px;
	border-color: transparent;
	cursor: pointer;
	margin-top: 79px;
	cursor: pointer;
  }
  
  .modal2-titreEtCategorie {
	display: flex;
	flex-direction: column;
  }
  
  .titre,
  .categories {
	display:flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	font-family: "Work Sans";
	margin-bottom: 5px;
  }
  
  .titreModal2 {
	margin-top:10px;
	padding: 18px 225px 17px 16px;
	border: transparent;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 21px;
  }
  
  .categoriesModal2 {
	margin-top:10px;
	border: transparent;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 18px 225px 17px 16px;
  }
  
  .error-title {
	display: none;
	margin-top: 10px;
	text-align: center;
	color: red;
	line-height: 16px;
  }
  
  .error-log {
	display: none;
	margin-top: 10px;
	text-align: center;
	color: red;
	line-height: 16px;
  }
  
  .modal2NewImg {
	margin-left: 140px;
	height: 169px;
  }